{% extends "blog/base.html" %} {% block content %}
<div class="container mt-3 p-4">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://fort-telecom.com/upload/medialibrary/7b4/7b4d657cf4a3ca19b737e4badda6a5bd.PNG" alt="Fiber Image" class="img-fluid rounded-start" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Welcome to Faiba Plan 101</h5>
                    <p class="card-text">
                        <p>Fiber Plan 101 lets you plan your fiber network accurately .</p> 
                        <p>All you need to do is input your GPS coordinates and we'll handle the rest.</p>
                        <p>The planned network is shown on a map, with the network paths clearly drawn.</p>
                        <p>The quotation is calculated from user defined parameters.</p>
                    </p> 
                    
                </div>
            </div>
            
        </div>
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title">Welcome to Faiba Plan 101</h5>
                    <p class="card-text">
                        <p>FTTX (Fiber to the X) represents the technology aspirations and ambitions of today's businesses 
                            that seek reliable technology investment guidance and reasonably assured Return on Investment (ROI).
                            It is a means of providing Next Generation Access (NGA) to corporates that rely on a robust IT 
                            communications mechanism to get more done, faster.</p> 
                        </p> Plan your fiber network efficiently today!</p> 
                    
                    </p> 
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
    

{% endblock content %}

