{% extends "plotter/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="card p-3 mb-3">
    <form class="form-group" method="POST">
        {% csrf_token %}
        <legend class="border-bottom mb-4">Item</legend>
        <div class="form-group mb-4">
            {{ form|crispy }}
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>

</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-2 bg-blue text-center">
    
</div>
    <p>
        <i>
        <a class="text-center py-3">  Fast and Efficient Design || </a>
        <i>
        <i>
        <a class="text-center py-3">Accurate Qoutations || </a>
        </i>
        <i>
        <a class="text-center py-3">  Readily Integratable || </a>
        </i>
        <i>
        <a class="text-center py-3"> You are in charge of the design</a>
        </i>
    </p>

</div>

</footer>
{% endblock content %}